<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Eat-da-burger</title>
  <script src="https://code.jquery.com/jquery.js"></script>
</head>
<body>
  <img src="/assets/img/big_burger.jpg" width="400px" id="big_burger">

  {{{ body }}}
  
</body>
</html>
